@import "./styles/reset.scss";

html,
body {
  background: linear-gradient(335deg, rgba(206,238,9,1) 2%, rgba(238,236,9,1) 15%, rgba(254,209,0,1) 92%, rgba(146,123,232,1) 100%);
}

.testTask {
  display: grid;
  place-items: center;
  height: 100vh;
}
